<div class="post-tags">
    <div class="tags-box-label">Tags</div>
    {{#foreach tags}}
        <a href="{{url}}">
            <span class="tag-title button">{{name}}</span>
        </a>
    {{/foreach}}
</div>
